POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/go-simple-help-chat

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/go-simple-help-chat
GOOSE_MIGRATION_DIR=./migrations

MINIO_URL=http://minio:9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminadmin
MINIO_IMAGE_BUCKET=shc-img
MINIO_PRIVATE_BUCKET=shc-privat

AUTH_ADMIN_SCOPES=*
AUTH_MANAGER_SCOPES=chat,department,schedule
AUTH_CLIENT_SCOPES=chat

ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin

JWT_ISSUER=simple-help-chat
JWT_SIGN_KEY_FILE=./secrets/jwt_sign.key
JWT_ACCESS_TOKEN_TTL=10m
JWT_REFRESH_TOKEN_TTL=720h

ENCRYPTION_KEY_FILE=./secrets/encryption.key

CHAT_READ_TIMEOUT=30s
CHAT_POLL_INTERVAL=1s

HTTP_ADDR=:8080
CORS_ALLOWED_ORIGINS=https://*,http://*
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE
CORS_ALLOWED_HEADERS=Accept,Authorization,Content-Type,X-CSRF-Token
CORS_EXPOSED_HEADERS=X-Request-ID
CORS_ALLOW_CREDENTIALS=true
CORS_MAX_AGE=300

COOKIE_ACCESS_TOKEN_TTL=10m
COOKIE_REFRESH_TOKEN_TTL=720h
COOKIE_SECURE=true
COOKIE_SAME_SITE=strict
